extends ../template

block variables
    - var title = 'Личный сайт веб разработчика Андрея Лебедева'

block content
    section.section.index
        .index__top
            a.button.button--login Авторизоваться
        .index__center
            .index__card
                .index__user.user
                    .user__pic
                        img(src="./assets/images/userfiles/avatars/ava_index.jpg" alt="ava_index" class="user__pic-img")
                    .user__description
                        .user__name Лебедев Андрей
                        .user__info Личный сайт разработчика
                .index__socials
                    ul.socials
                        - 
                            var socialLinks = [
                                ['vk',  'assets/images/icons/vk.svg',     'https://vk.com/gygabyyyte' ],
                                ['git', 'assets/images/icons/github.svg', 'https://github.com/GyGaByyyTe' ],
                                ['in',  'assets/images/icons/in.svg',     'https://vk.com/gygabyyyte' ]
                            ]                
                        each item in socialLinks
                            li.socials__item
                                a(href=`${item[2]}` target='_blank' class='socials__link')  
                                    svg(class=`socials__svg socials__svg--${item[0]}`)
                                        use(xlink:href=`${item[1]}`)
                .index__menu
                    ul.menu
                        - 
                            var internalLinks = [
                                ['Мои работы', 'works.html'],
                                ['Обо мне',    'about.html'],
                                ['Блог',       'blog.html']
                            ]                   
                        each item in internalLinks
                            li.menu__item
                                a(href=`${item[1]}` class='menu__link') #{item[0]}
        .index__bot
            .copyright
                p © Андрей Лебедев | создано с любовью в LoftSchool | 2018
